@charset "utf-8";

/*******************************************************************
	Reset
********************************************************************/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,
label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,
header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;border:0;*margin:0;*padding:0;*font-size:0}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{width:100%;border-collapse:collapse;border-spacing:0}
img{vertical-align:top}
ul,ol{list-style:none}
html,body{width:100%;height:100%;font-family:'Nanum Square',Malgun Gothic,Arial,Doutm,Tahoma,sans-serif;font-size:16px}
body{background:#fff}

/* Form */
input,textarea,select,button{font-size:14px;color:#555;box-sizing:border-box}
button{overflow:visible;width:auto;margin:0;padding:0;border:0;background:none;cursor:pointer;outline:none}
button:active{border:0;padding:0}
input[type="button"],input[type="text"],input[type="image"],input[type="submit"],textarea{-webkit-appearance:none}
input::-ms-clear{display:none}
input[type="text"]:focus.read{outline:none}
input[type="text"],input[type="password"],input[type=number],input[type="file"]{height:34px;padding:0 10px;background:#f7faff;box-sizing:border-box;border:1px solid #aab0ce;font-size:12px;color:#000b43;line-height:34px;vertical-align:top}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}
select{width:100%;padding:0 10px;box-sizing:border-box;border:0;font-weight:700;font-size:18px;color:#666;background:#fff url("/resources/images/icon/card_arr_dwn.png") no-repeat 95% 50%;border-radius:0;-webkit-appearance:none;-moz-appearance:none;appearance:none}
select::-ms-expand{display:none;opacity:0;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)'}
select:focus{outline:none}
textarea{resize:none;padding:10px;border:1px solid #ddd;vertical-align:top}

a:link,a:visited{text-decoration:none;cursor:pointer}
a:active,a:hover{text-decoration:none;cursor:pointer}
a:focus,input:focus,textarea:focus{outline:none}

.clearFix:after{display:block;clear:both;content:""}
* html .clearFix{zoom:1} /* IE6 */
*:first-child+html .clearFix {zoom:1} /* IE7 */

/* skip */
#skipNavi{position:relative;z-index:2147483647}
#skipNavi a{display:block;overflow:hidden;position:absolute;top:-1000px;left:0;background:#999;color:#fff;text-align:center;text-decoration:none}
#skipNavi a:active,#skipNavi a:focus{position:static}

/* 대체 텍스트 */
.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0}

/* placeholder */
input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder{color:transparent}
input:focus:-moz-placeholder,textarea:focus:-moz-placeholder{color:transparent}
input:focus::-moz-placeholder,textarea:focus::-moz-placeholder{color:transparent}
input:focus:-ms-input-placeholder,textarea:focus:-ms-input-placeholder{color:transparent}

/* text 정렬 */
.al{text-align:left !important}
.ac{text-align:center !important}
.ar{text-align:right !important}

/* border none */
.brtn{border-top:0 !important}
.brrn{border-right:0 !important}
.brbn{border-bottom:0 !important}
.brln{border-left:0 !important}

/* margin none */
.mtn{margin-top:0 !important}
.mrn{margin-right:0 !important}
.mbn{margin-bottom:0 !important}
.mln{margin-left:0 !important}

/* padding none */
.ptn{padding-top:0 !important}
.prn{padding-right:0 !important}
.pbn{padding-bottom:0 !important}
.pln{padding-left:0 !important}

/* margin-top */
.mt10{margin-top:10px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt25{margin-top:25px !important}
.mt30{margin-top:30px !important}
.mt35{margin-top:35px !important}
.mt40{margin-top:40px !important}
.mt45{margin-top:45px !important}
.mt50{margin-top:50px !important}

/* margin-left */
.ml5{margin-left:5px !important}
.ml10{margin-left:10px !important}
.ml15{margin-left:15px !important}
.ml20{margin-left:20px !important}
.ml25{margin-left:25px !important}
.ml30{margin-left:30px !important}
.ml35{margin-left:35px !important}
.ml40{margin-left:40px !important}
.ml45{margin-left:45px !important}
.ml50{margin-left:50px !important}

/* margin-right */
.mr5{margin-right:5px !important}
.mr10{margin-right:10px !important}
.mr15{margin-right:15px !important}
.mr20{margin-right:20px !important}
.mr25{margin-right:25px !important}
.mr30{margin-right:30px !important}
.mr35{margin-right:35px !important}
.mr40{margin-right:40px !important}
.mr45{margin-right:45px !important}
.mr50{margin-right:50px !important}

/* padding-top */
.pt10{padding-top:10px !important}
.pt15{padding-top:15px !important}
.pt20{padding-top:20px !important}
.pt25{padding-top:25px !important}
.pt30{padding-top:30px !important}
.pt35{padding-top:35px !important}
.pt40{padding-top:40px !important}
.pt45{padding-top:45px !important}
.pt50{padding-top:50px !important}

/* padding-bottom */
.pb10{padding-bottom:10px !important}
.pb15{padding-bottom:15px !important}
.pb20{padding-bottom:20px !important}
.pb25{padding-bottom:25px !important}
.pb30{padding-bottom:30px !important}
.pb35{padding-bottom:35px !important}
.pb40{padding-bottom:40px !important}
.pb45{padding-bottom:45px !important}
.pb50{padding-bottom:50px !important}